<div>
	<h1>{{encuesta.descripcion}}</h1>
	<div ng-repeat="pregunta in encuesta.preguntas">

		<!-- TIPO MULTIPLE CHOICE -->
		<div ng-if="pregunta.tipo == 'multiple-choice'">
			<pregunta-multiple-choice>
		</div>

		<!-- TIPO TEXTO PARRAFO -->
		<div ng-if="pregunta.tipo == 'texto-parrafo'">
			<pregunta-texto-parrafo>
		</div>

		<!-- TIPO FECHA -->
		<div ng-if="pregunta.tipo == 'fecha'">
			<pregunta-fecha>
		</div>

        <!-- TIPO GRILLA -->
        <div ng-if="pregunta.tipo == 'grilla'">
            <pregunta-grilla>
        </div>
	</div>
</div>