<div class="form-group">
    <div class="questionTitle">
        <label>{{pregunta.titulo}}</label>
    </div>
    <div class="containerOptions">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td ng-repeat="columna in pregunta.columnas">{{columna}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fila in pregunta.filas">
                    <td>{{fila}}</td>
                    <td ng-repeat="chk in pregunta.columnas">
                        <label>
                            <input ng-model="pregunta.respuesta[pregunta.filas[$parent.$index]]" type="radio" name="inlineRadioOptions{{$parent.$index}}" value="{{pregunta.columnas[$index]}}">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
