<div class="form-group">
    <div class="questionTitle" ng-show="pregunta.respuesta" style="border-bottom: 1px solid #5cb85c;">
        <i class="fa fa-check" style="color:#5cb85c; font-size:10px;"></i>
        <label>{{pregunta.titulo}}</label>
    </div>
    <div class="questionTitle" ng-hide="pregunta.respuesta" style="border-bottom: 1px solid #d9534f;">
        <i class="fa fa-asterisk" style="color:#d9534f; font-size:8px;"></i>
        <label>{{pregunta.titulo}}</label>
    </div>

    <div class="containerOptions">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td ng-repeat="columna in pregunta.columnas">{{columna}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fila in pregunta.filas">
                    <td>{{fila}}</td>
                    <td ng-repeat="chk in pregunta.columnas">
                        <label>
                            <input ng-model="pregunta.respuesta[pregunta.filas[$parent.$index]]" type="radio" name="inlineRadioOptions{{$parent.$index}}" value="{{pregunta.columnas[$index]}}">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
<input ng-model="pregunta.respuesta[$parent.$index]" type="radio" name="" value="{{chk}}">
-->
