<!-- <div class="form-group">
    <label>{{pregunta.titulo}}</label>
    <pre>{{radioModel || 'null'}}</pre>
    <div class="btn-group">
        <label ng-repeat="op in pregunta.opciones" class="btn btn-primary" ng-model="$parent.radioModel" btn-radio="'{{op.opcion}}'">{{op.valor}}</label>
    </div>
</div>
-->

<div class="form-group">
    <div class="questionTitle">
        <label>{{pregunta.titulo}}</label>
    </div>
    <div class="optionsContainer" ng-repeat="op in pregunta.opciones">
        <label class="formText">
            <input ng-model="pregunta.respuesta" type="radio" name="{{pregunta.id}}" value="{{op.valor}}">
            {{op.opcion}}
        </label>
    </div>
</div>
